{{!-- Subscribe CTA --}}
<aside class="subscribe-box inner">
    <h2 class="subscribe-box-title h3">{{t "Subscribe to {sitetitle}" sitetitle=@site.title }}</h2>
    <p class="subscribe-box-text">{{t "Subscribe today and get access to subscribers-only content and newsletters. Cancel at any time."}}</p>
    <a class="button" href="javascript:" data-portal="signup">
        {{{t "Subscribe now"}}}
    </a>
</aside>
